@font-face {
    font-family: 'OMORI_GAME2';
    font-style: normal;
    font-weight: 400;
    src: local('OMORI_GAME2'), url('https://github.com/Ne0Bing/omori-font/blob/main/omori_text_font/fonts/omori_text_font.eot') format('eot');
}
@font-face {
    font-family: 'OMORI_GAME2';
    font-style: italic;
    font-weight: 400;
    src: local('OMORI_GAME2'), url('https://github.com/Ne0Bing/omori-font/blob/main/omori_text_font/fonts/omori_text_font.eot') format('eot');
}
@font-face {
    font-family: 'OMORI_GAME2';
    font-style: bold;
    font-weight: 700;
    src: local('OMORI_GAME2'), url('https://github.com/Ne0Bing/omori-font/blob/main/omori_text_font/fonts/omori_text_font.eot') format('eot');
}